extends layout

block content
    .row
        .col-sm-4
            img(src=pet.picUrlSq).img-fluid
        .col-sm-8
            h1=pet.name
            p=pet.species
            .text-right
              a.btn.btn-primary(href="/pets/" + pet.id + "/purchase" role='button') Buy #{pet.name} Now!
            p Born on #{pet.birthday}
            p=pet.description
            .text-right
                a(href="/pets/" + pet.id + "/edit").btn-link Edit
            
            hr
            small.text-muted Comments for #{pet.name}
            form(action="/pets/" + pet.id + "/comments" method="POST")
                .form-group
                    textarea.form-control(name="body")
                .text-right
                    button(type="submit").btn.btn-primary Save Comment
            each c in comments
                p=c.body
                small.text-right
                    form(action="/pets/" + pet.id + "/comments/0?_method=DELETE" method="POST")
                        .text-right
                            button(type="submit").text-danger Remove
